<!--
 * @Author: chenxiao chenxiao@uino.com
 * @Date: 2023-01-30 16:57:06
 * @LastEditors: chenxiao chenxiao@uino.com
 * @LastEditTime: 2023-02-06 15:46:45
 * @FilePath: \nestJS\nestxiaomi\views\admin\public\page_aside.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<ul class="aside">        
    
    <%for(var i=0;i<asideList.length;i++){%>

       <%if((asideList[i].checked && asideList[i].type==1) || (userinfo.is_super==1 && asideList[i].type==1)){%>
            <li>
                <h4><%=asideList[i].module_name%></h4>
                
                <ul>
                   <%for(var j=0;j<asideList[i].items.length;j++){%>
                        <%if((asideList[i].items[j].checked && asideList[i].items[j].type==2) || (userinfo.is_super==1 && asideList[i].items[j].type==2)){%>
                            <li class="list-group-item"> <a  target="rightMain" href="/<%=config.adminPath%>/<%=asideList[i].items[j].url%>"><%=asideList[i].items[j].action_name%></a></li>
                        <%}%>
                    <%}%>
                </ul>
            </li>
        <%}%>
    <%}%>
   
    
</ul> 