<!--
 * @Author: chenxiao chenxiao@uino.com
 * @Date: 2022-10-13 15:01:49
 * @LastEditors: chenxiao chenxiao@uino.com
 * @LastEditTime: 2022-10-13 15:08:25
 * @FilePath: \nestJS\nestdome2\views\default\user.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/base.css">
</head>
<body>
    <img src="/static/1.jpeg" alt="" srcset="">
    <br>
    <form action="/user/doAdd" method="post">
        <input type="text" name="username" id="" placeholder="请输入用户名">
        <br>
        <br>
        <input type="text" name="age" id="" placeholder="请输入年龄">

        <input type="submit" value="提交">
    </form>
</body>
</html>