<!--
 * @Author: chenxiao chenxiao@uino.com
 * @Date: 2022-10-15 14:23:15
 * @LastEditors: chenxiao chenxiao@uino.com
 * @LastEditTime: 2022-10-15 14:30:38
 * @FilePath: \nestJS\nestdome2\views\default\news.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/base.css">
</head>
<body>
   <h2>文章页面</h2>
   <br>
  <%=username%>
</body>
</html>